*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.element {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 20px 50px;
    min-width: 120px;
    max-width: 100%;
    color: white;
    font-size: 16px;
    background: #5d7699;
    margin-left: 650px;
    margin-top: 30px
}

.element:before {
    content: "";
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #073563;
}



.fuwafuwa01 {
    animation: fuwafuwa01 2s infinite ease-in-out;
}

@keyframes fuwafuwa01 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}

body {
    height: 100vh;
}

body {
    background-color: #fff; 
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

body {
    background-attachment: fixed;
}

h1 {
    display: block;
    margin: auto;
    padding: 20px;
    font-size: 40px;
    color: dimgray;
    text-align: center;
}

.loginInfo{
    font-size: 20px;
}


.aaa {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
    margin: 0px 200px; 
    padding: 60px;
    text-align: center;
}

.aaa :focus {
    outline: none;
}


.aaa a {
    font-size: medium;
}

.tb {
    text-align: center;
}
